debian/*.log
*.o
*.lo
*.a
.deps
Makefile
Makefile.in
bscconfig.h
bscconfig.h.in
*.pc

*.*~
*.sw?
.libs
*.pyc
*.gcda
*.gcno

**/TAGS

#configure
aclocal.m4
autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh
m4/*.m4

# git-version-gen magic
.tarball-version
.version
osmo-bsc-*.tar.bz2
osmo-bsc-*.tar.gz

# apps and app data
hlr.sqlite3
src/utils/bs11_config
src/ipaccess/ipaccess-config
src/ipaccess/abisip-find
src/ipaccess/ipaccess-firmware
src/ipaccess/ipaccess-proxy
src/utils/isdnsync
src/osmo-bsc_nat/osmo-bsc_nat
src/osmo-bsc_nat/*.cfg*
src/osmo-bsc/osmo-bsc
src/osmo-bsc/*.cfg*
src/utils/meas_vis
src/utils/meas_json
src/utils/osmo-meas-pcap2db
src/utils/osmo-meas-udp2db

tags
/deps

#tests
tests/testsuite.dir
tests/*/*_test

tests/atconfig
tests/atlocal
tests/package.m4
tests/testsuite
tests/testsuite.log

writtenconfig/

# manuals
doc/manuals/*.html
doc/manuals/*.svg
doc/manuals/*.pdf
doc/manuals/*__*.png
doc/manuals/*.check
doc/manuals/generated/
doc/manuals/osmomsc-usermanual.xml
doc/manuals/common
doc/manuals/build

contrib/osmo-bsc.spec
