Source: osmo-bsc
Section: net
Priority: extra
Maintainer: Alexander Couzens <lynxis@fe80.eu>
Build-Depends: debhelper (>=9),
               dh-autoreconf,
               autotools-dev,
               autoconf,
               automake,
               libtool,
               pkg-config,
               python-minimal,
               libtalloc-dev,
               libosmocore-dev (>= 0.12.0),
               libosmo-sccp-dev (>= 0.10.0),
               libosmo-sigtran-dev (>= 0.10.0),
               libosmo-abis-dev (>= 0.5.1),
               libosmo-netif-dev (>= 0.3.0),
               libosmo-mgcp-client-dev (>= 1.4.0)
Standards-Version: 3.9.8
Vcs-Git: git://git.osmocom.org/osmo-bsc.git
Vcs-Browser: https://git.osmocom.org/osmo-bsc/
Homepage: https://projects.osmocom.org/projects/osmo-bsc

Package: osmo-bsc
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: OsmoBSC: Osmocom's Base Station Controller for 2G circuit-switched mobile networks

Package: osmo-bsc-dbg
Section: debug
Architecture: any
Multi-Arch: same
Depends: osmo-bsc (= ${binary:Version}), ${misc:Depends}
Description: OsmoBSC: Osmocom's Base Station Controller for 2G circuit-switched mobile networks

Package: abisip-find
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Command line utility to find ip.access compatible BTS

Package: osmo-bsc-ipaccess-utils
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Command line utilities for ip.access nanoBTS
 This package contains utilities that are specific for nanoBTS when being used
 together with OpenBSC. It contains mainly two tools: ipaccess-config and ipaccess-proxy.

Package: osmo-bsc-bs11-utils
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Command line utilities for Siemens BS-11 BTS
 There is a tool in this package for configuring the Siemens BS-11 BTS.
 Additionally, it contains one tool for making use of an ISDN-card and the
 public telephone network as frequency standard for the E1 line.

Package: osmo-bsc-meas-utils
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Command line utilities to manage measurement reports.
